<div class="container">
  <div class="main">
    <div class="main_content">
      <div class="title">Profile</div>
      <div class="info">
        <div class="password_change">
          <p>Change Password</p>
          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
            <%= devise_error_messages! %>
            <table>
              <tr>
                <th><%= f.label :password, 'New password' %></th>
                <td><%= f.password_field :password, :autocomplete => "off" %> </td><!-- <i> (leave blank if you don't want to change)</i> -->
              </tr>
              <tr>
                <th><%= f.label :password_confirmation, 'Confirm new password' %></th>
                <td><%= f.password_field :password_confirmation, :autocomplete => "off" %> </td><!-- <i> (leave blank if you don't want to change)</i> -->
              </tr>
              <tr>
                <th id='current_password'><%= f.label :current_password, 'Enter your current password' %></th>
                <td><%= f.password_field :current_password %></td>
              </tr>

            </table>

            <div id="password_note">(So your coworkers can't hack your account during lunch)</div>

            <div id='change_password_submit'><%= f.submit "Update" %> </div>

          <% end %>
        </div>

        <div class="account_cancelation">
          <p>Account Cancelation</p>
          <% if current_user.org_owner? %>
            You currently are listed as the <strong>Owner</strong> of the following organizations. <br>
            Please delete the organizations or transfer ownership before deleting your account. <br><br>
            <table>
              <% current_user.roles.each do |role| %>
              <tr>
                <td><%= link_to role.organization.name, role.organization %></td>
              <% end %>
              </tr>
            </table>
          <% elsif %>
            <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>
          <% end %>


        </div>
      </div>
    </div>
    <div class="secondary_content">
      <%= link_to "Back", :back %>
    </div>
  </div>
 <%= render 'layouts/primary_aside' %>
</div>



