.title Currently Scheduled Sections

.scheduled_sections
  - if @course.sections.empty?
    You don't have any sections scheduled.

  %table
    - @course.next_five_dates.each do |section|
      %tr
        %th= link_to "#{section.location}:", edit_organization_course_section_path(@organization, @course, section)
        %td
          .section
            = link_to "#{section.start_date.strftime('%b %d')} 20#{section.start_date.strftime('%y')}", edit_organization_course_section_path(@organization, @course, section)
