.title Currently Scheduled Sections

.scheduled_sections
  - if @course.sections.empty?
    You don't have any sections scheduled.

  // need to extract this out to a method in course
  - future_sections = []
  - past_sections =[]
  - @course.sections.each do |section|
    - if section.start_date > Date.today
      - future_sections << section
    - else
      - past_sections << section

  // need to extract out to not reapeat the same code twice
  %table
    - future_sections.each do |section|
      %tr
        %th= link_to "#{section.location}:", edit_organization_course_section_path(@organization, @course, section)
        %td
          .section
            = link_to "#{section.start_date.strftime('%b %d')}, 20#{section.start_date.strftime('%y')} - #{section.start_date.strftime('%l')}:#{section.start_date.strftime('%M %P')}", edit_organization_course_section_path(@organization, @course, section)

.ajax_scheduled_sections
  here

  / Past Sections
  / %table
  /   - past_sections.each do |section|
  /     %tr
  /       %th= link_to "#{section.location}:", edit_organization_course_section_path(@organization, @course, section)
  /       %td
  /         .section
  /           = link_to "#{section.start_date.strftime('%b %d')}, 20#{section.start_date.strftime('%y')} - #{section.start_date.strftime('%l')}:#{section.start_date.strftime('%M %P')}", edit_organization_course_section_path(@organization, @course, section)
