<%= form_for [@org, @course, @section] do |f| %>
  <div>
    <%= f.label :location %>
    <div>
      <%= f.text_field :location %>
    </div>
  </div>
  <div>
    <%= f.label :instructor_id, 'Instrutor Id' %>
    <div>
      <%= f.number_field :instructor_id %>
    </div>
  </div>

   <div>
    <div><%= f.label :start_date %></div>
    <div> <%= f.date_select :start_date %></div>
  </div>
   <div>
    <div><%= f.label :start_time %></div>
    <div> <%= f.time_select :start_time %></div>
  </div>

  <div>
    <div><%= f.label :end_date %></div>
    <div> <%= f.date_select :end_date %></div>
  </div>
   <div>
    <div><%= f.label :end_time %></div>
    <div> <%= f.time_select :end_time %></div>
  </div>

  <%= f.hidden_field :course_id, value: params[:course_id] %>

   <%= f.submit %>
<% end %>
