<%= form_for [@org, @course], :html => { :class => "form-horizontal"} do |f| %>

  <%= f.error_messages %>
  <div>
    <%= f.label :name %>
    <div>
      <%= f.text_field :name %>
    </div>
  </div>

  <div>
    <%= f.label :description %>
    <div>
      <%= f.text_area :description, :rows => 4, :class => 'ckeditor' %>
    </div>
  </div>

  <div>
    <%= f.label :price %>
    <div>
      <%= f.text_field :price %>
    </div>
  </div>



  <div>
    <%= f.label :active %>
    <div>
      <%= radio_button_tag(:active, true) %>
      <%= label_tag(:active_true, "yes") %>
      <%= radio_button_tag(:active, false) %>
      <%= label_tag(:active_false, "no") %>
    </div>
  </div>
    <%= f.hidden_field :organization_id, value: params[:organization_id] %>

  <div>
    <div>
      <%= f.submit %>
    </div>
  </div>
<% end %>




