= form_for [@organization, @course], :html => { :class => "form-horizontal"} do |f|

  = f.error_messages
  %div
    = f.label :name
    = f.text_field :name
  %div
    = f.label :external_link
    = f.text_field :external_link

  %div
    = f.label :description
    %div
      = f.text_area :description, :rows => 4, :class => 'ckeditor'

  %div
    = f.label :price
    = f.text_field :price

  %div
    = f.label :active

    = radio_button_tag(:active, true)
    = label_tag(:active_true, "yes")
    = radio_button_tag(:active, false)
    = label_tag(:active_false, "no")

    = f.hidden_field :organization_id, value: params[:organization_id]

  %div
    = f.submit
