// This locks down access to owners of the courses. Probably needs to be done in the controller instead.
- if current_user && (current_user == @organization.owner || current_user.site_admin?)

  .container
    .main
      .main_content
        .title Edit Course or Tour
        .info
          = render 'form'

      .secondary_content
        = render 'add_photos'

      .secondary_content
        = render '/sections/scheduled_sections'

        = button_to 'Add A Section', organization_course_sections_path(@organization, @course), :method => :get, :class => 'add_section_button'

      .secondary_content
        = button_to 'View Public Page',  organization_course_path(@organization, @course), :method => :get

      .secondary_content
        %strong Delete Course
        = button_to 'Delete course now', organization_course_path(@organization, @course), :method => :delete, :confirm => "Are you sure?"

    =render 'layouts/primary_aside'

- else
  .dont{ :style => 'font-size: 50px; margin: 200px; text-align: center' }
    DON'T EVEN TRY IT!


