// This locks down access to owners of the courses. Probably needs to be done in the controller instead.
- if current_user && (current_user == @organization.owner || current_user.site_admin?)

  .container
    .main
      .course_nav_bar
        %ul
          %li
            %span#nav_link_info.active_nav Info
          %li
            %span#nav_link_images Images
          %li
            %span#nav_link_sections Sections

      .main_content#info_box
        .title Edit Course or Tour
        .info
          .editable_course_info
            = form_for [@organization, @course] do |f|
              // - devise_error_messages!  Not sure why, but this is breaking the world
              %table
                %tr
                  %th.first_cell Name:
                  %td#second_cell_name.second_cell
                    = @course.name
                    %span#edit_icon
                      = image_tag "/assets/profiles/edit-11.png"
                      edit
                  %td#third_cell_name.third_cell
                    = f.text_field :name, :autofocus => true, :placeholder => 'Course Name'
                    %span.update_button
                      update


                %tr
                  %th.first_cell Link:
                  %td#second_cell_website.second_cell
                    = @course.external_link
                    %span#edit_icon
                      = image_tag "/assets/profiles/edit-11.png"
                      edit
                  %td#third_cell_website.third_cell
                    = f.text_field :external_link, :autofocus => true, :placeholder => 'Course Link'
                    %span.update_button
                      update

                %tr
                  %th.first_cell Price:
                  %td#second_cell_phone.second_cell
                    = @course.price <= 0 ? "free" : number_to_currency(@course.price)
                    %span#edit_icon
                      = image_tag "/assets/profiles/edit-11.png"
                      edit
                  %td#third_cell_phone.third_cell
                    = f.text_field :price, :autofocus => true, :placeholder => 'Price'
                    %span.update_button
                      update
                - if current_user && current_user.site_admin?
                  %tr.admin
                    %th.first_cell{ :style=> "padding-left: 15px; border-radius: 5px 0px 0px 5px" } rank:
                    %td#second_cell_rank.second_cell{ :style=> "border-radius: 0px 5px 5px 0px"}
                      = @course.rank
                      %span#edit_icon
                        = image_tag "/assets/profiles/edit-11.png"
                        edit
                    %td#third_cell_rank.third_cell{ :style=> "padding-right: 15px; border-radius: 0px 5px 5px 0px"}
                      = f.text_field :rank, :autofocus => true, :placeholder => 'rank'
                      %span.update_button
                        update

              .description_label Description
              %table
                %tr
                  // Intentionally removing first cell
                  %td#second_cell_phone.second_cell#description
                    .description_content
                      %span#edit_icon
                        = image_tag "/assets/profiles/edit-11.png"
                        edit
                      = @course.description.html_safe
                  %td#third_cell_website.third_cell
                    = f.text_area :description, :rows => 1, :class => 'ckeditor', :autofocus => true
                    = button_to 'update', {:controller => :courses, :action => :update}, :class => 'update_button green_button'
                    / .update_button.green_button
                    /   update

              = f.submit "Save", :class => 'course_form_submit green_button'

      .secondary_content#images_box
        = render 'add_photos'

      .secondary_content#sections_box
        = render '/sections/scheduled_sections'

        = button_to 'Add A Section', organization_course_sections_path(@organization, @course), :method => :get, :id => 'add_section_button', :class => 'green_button'

      .secondary_content#public_box
        .title Public Facing Page
        = button_to 'Go to Public Page',  organization_course_path(@organization, @course), :method => :get, :class => 'green_button'

      .secondary_content#delete_box
        .title Delete Course
        = button_to 'Delete course now', organization_course_path(@organization, @course), :method => :delete, :confirm => "Really?! Really?! Ain't no going back from this one.", :class => 'green_button'

    =render 'layouts/primary_aside'

- else
  .dont{ :style => 'font-size: 50px; margin: 200px; text-align: center' }
    DON'T EVEN TRY IT!


