    <div class="hero_bar">
      <img class="hero_image" src="assets/courses/el_cap_hero_bar.jpg">

      <div class="search">
        <h1>Find Your Adventure</h1>
        <!-- TODO old form, delete -  -->
        <!--  <form name="search" action="#" method="get">
          <input class="search_submit_button" type="submit" value="Search">
          <input class="search_box" type="text" name="search" placeholder="rock climbing, sailing, scuba diving....">
        </form> -->

      <%= form_tag courses_path, :method => :get do %>
        <p>
          <%= submit_tag "Search", :name => nil, :class => "search_submit_button" %>
          <%= text_field_tag :search, params[:search], :class => "search_box", :placeholder => "rock climbing, sailing, scuba diving...." %>
        </p>
      <% end %>

      </div>
    </div>

    <div class="container">
      <div class="main_content">

        <h1>Courses</h1>
        <% ordered_courses = order_by_rank(@courses) %>

        <% ordered_courses.each do |course| %>

          <!-- Makes sure courses without photos never end up on the home page -->
          <% next if course.photos.empty? %>

          <a href="organizations/<%= course.organization.id %>/courses/<%= course.id %>">
            <div class="course">
              <div class="course_photo">
                <% unless course.photos.empty? %>
                  <%= image_tag course.photos.first.image.url %>
                  <!-- TODO: Test out cycle.js pluging for scrolling images -->
                <% end %>
              </div>
              <div class="index_page_overlay">
                <div class="next_class">
                  Next Class
                </div>
                <div class="class_date">
                  <% if course.next_dates(5).any? %>
                    <%= "#{course.next_dates(5).first.start_date.strftime('%b %d')} " %>
                  <% else %>
                    Request a date
                  <% end %>
                </div>
              </div>
              <div class="course_info">
                <div class="course_name">
                  <%= course.name %>
                </div>
                <div class="location_group">
                  <% if course.sections.any? %>
                    <% course.unique_locations.each do |section|%>
                      <div class="location"><%= section.location %></div>
                    <% end %>
                  <% end %>
                </div>
                <div class="price">
                  <% if course.price %>
                    <%= course.price <= 0 ? "free" : number_to_currency(course.price) %>
                  <% else %>
                    free
                  <% end %>
                </div>
                <div class="location">
                  <!-- <%= course.name %> TODO: add location to course model-->
                </div>
              </div>
            </div>
          </a>
        <% end %>

      </div>
    </div>
