    <div class="container">
      <div class="main">
        <div class="course_content">
          <div class="title"><%= @course.name %></div>
          <!-- only show next arrow if there is more than one photo -->
          <% if @course.photos.count > 1 %>
            <img class='arrow' src="/assets/courses/arrow-next.png" height='100px'>
          <% end %>
          <div class="main_image_section">
              <% @course.photos.sort.each do |photo| %>
                <div class="slide">
                  <%= image_tag photo.image.url %>
                </div>
              <% end %>
          </div>
          <div class="description_group">
            <h1>Course Info</h1>
            <div class="description">
              <%= @course.description.html_safe %>
            </div>
          </div>
        </div>

        <% if @course.reviews.any?  %>
          <div class="secondary_content">
            <% @course.reviews.each do |review| %>
              <div class="review_group">
                <div class="reviewer">
                  <a href="#">
                    <div class="image">
                      <%= image_tag review.user.profile_photo.url %>
                    </div>
                  </a>
                  <div class="name"><%= review.user.name %></div>
                </div>
                <div class='review'>
                  <%= review.content %>
                </div>
                <div class="rating">
                  <img src="/assets/courses/yelp_<%= review.rating.to_i %>_stars_transparent.png">
                </div>
              </div>
            <% end %>
          </div>
        <% end %>

        <% if current_user && current_user.orgs_owned.include?(@organization) %>
          <div class="secondary_content admin" style="background-color:skyblue">
            <%= button_to 'Edit Course', edit_organization_course_path(@organization, @course), :method  => :get %>
          </div>
        <% end %>

       <% if current_user && current_user.site_admin? %>
         <div class="secondary_content admin" style="background-color:skyblue">
           Course Rank:
           <%= @course.rank %>
         </div>
       <% end %>
      </div>

      <aside>
        <div class="dates">
          <p>Next Dates:</p>
          <form>
            <% @course.next_dates(5).each do |section| %>
              <input type="radio" name="date" value="#"><%= "#{section.start_date.strftime('%b %d')} 20#{section.start_date.strftime('%y')}. . . #{section.location}" %><br>
              <!-- <input type="submit" value="Submit"> -->
            <% end %>
          </form>
        </div>
        <div class="price">
          <% if @course.price %>
            <%= @course.price <= 0 ? "free" : number_to_currency(@course.price) %>
          <% else %>
            free
          <% end %>

          <% if @course.external_link %>
          <!-- this link on works in production. It adds an extra http://. Need to just styling the input or button -->
            <a href="<%= @course.external_link %>", target="_blank"> <input class="buy_now" type="submit" value="Sign Up Now"> </a>
          <% else %>
            <input class="buy_now" type="submit" value="Sign Up Now">
          <% end %>
        </div>

          <% if @course.instructors.any? %>
            <div class="profile">
              <p>Instructors & Guides</p>
              <% @course.instructors.uniq.each do |instructor| %>
                <hr>
                <a href="#">
                  <div class="instructor">
                    <a href="#">
                      <div class="image">
                        <%= image_tag instructor.profile_photo.url %>
                      </div>
                    </a>
                    <div class="name"><%= instructor.first_name %> <%= instructor.last_name_initial %></div>
                  </div>
                </a>


        <!--    <div class="other_courses">
                  <p>Courses Taught</p>
                  <ul>
                    <% instructor.courses.each do |course| %>
                      <a href="/organizations/<%=course.organization.id %>/courses/<%= course.id %>"><li><%= course.name %></li></a>
                    <% end %>
                  </ul>
                </div> -->
              <% end %>
            </div>
          <% end %>

        <div class="company">
          <p>Company Profile</p>
          <div class="logo">
            <a href="/organizations/<%= @course.organization.id %>">
              <%= image_tag @course.organization.logo.url %>
            </a>
          </div>
          <div class="company_name"><%= @course.organization.name %></div>
          <hr>
          <div class="other_courses">
            <p>All Courses</p>
            <ul>
              <% @course.organization.courses.each do |course| %>
                <a href="/organizations/<%= course.organization.id %>/courses/<%= course.id %>"><li> <%= course.name %></li></a>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="aside_section">
          <%= render 'reviews/add_review_aside' %>
        </div>
      </aside>
    </div>
