<%= form_for @photo do |f| %>
  <table>
  <%= f.error_messages %>
  <tr>
    <td><%= f.label :image %></td>
    <td><%= f.file_field :image %></td>
  </tr>
  <tr>
    <td><%= f.submit %></td>
  </tr>

  </table>
<% end %>
