<%= form_for @organization do |f| %>
  <table>
  <%= f.error_messages %>
  <tr>
    <td><%= f.label :name %>:</td>
    <td><%= f.text_field :name, :placeholder => "#{@organization.name}" %></td>
  </tr>
  <tr>
    <td><%= f.label :description %>:</td>
    <td><%= f.text_area(:description, :rows => 4) %></td>
  </tr>
  <tr>
    <td><%= f.label :website %>:</td>
    <td><%= f.text_field :website %></td>
  </tr>
  <tr>
    <td><%= f.label :phone_num %>:</td>
    <td><%= f.text_field :phone_num %></td>
  </tr>
  <tr>
    <td><%= f.label :logo %></td>
    <td><%= f.file_field :logo %></td>
  </tr>
  <tr>
    <td><%= f.submit %></td>
  </tr>

  </table>
<% end %>


