= form_for @organization do |f|
  = f.error_messages
  .org_form
    %table
      %tr
        %td= f.text_field :name, :autofocus => true, :placeholder => 'Organization Name'

      %tr
        %td= f.text_field :website, :placeholder => 'Website'

      %tr
        %td= f.text_field :phone_num, :placeholder => 'Phone Number'

    = f.label :logo, :class => 'logo'
    = f.file_field :logo, :class => 'logo_button'

    %div
      = f.label :description, :class => 'description_label'
      .description_note
        (copy and paste works from most sources)
      = f.text_area :description, :rows => 4, :class => 'ckeditor'


    = f.submit :class => "form_submit"



