<h2>Update Organization</h2>
<%= form_for @org do |f| %>
  <table>
  <%= f.error_messages %>
    <tr>
      <td><%= f.label :name %>:</td>
      <td><%= f.text_field :name, :placeholder => "#{@org.name}" %></td>
    </tr>
    <tr>
      <td><%= f.label :description %>:</td>
      <td><%= f.text_area(:description, :rows => 4) %></td>
    </tr>
    <tr>
      <td><%= f.label :website %>:</td>
      <td><%= f.text_field :website %></td>
    </tr>
    <tr>
      <td><%= f.label :phone_num %>:</td>
      <td><%= f.text_field :phone_num %></td>
    </tr>
    <tr>
      <td><%=  "Current Logo:" if @org.logo_file_name %></td>
      <td><%=  image_tag @org.logo.url(:thumb) if @org.logo_file_name %> </td>
    </tr>
    <tr>
      <td><%= f.label :logo %></td>
      <td><%= f.file_field :logo %></td>
    </tr>
    <tr>
      <td><%= f.submit %></td>
    </tr>

  </table>
<% end %>
<br>
__________________________________

<% if @org.photos.any? %>
  <br>
  <strong>Current Photos</strong>
  <br>
<% end %>

<% @org.photos.each do |photo| %>
  <%= image_tag photo.image.url(:thumb) %>
  <%= button_to 'Delete Photo', photo_path(photo), :method => :delete, :confirm => "Fur Real?"%>
  <br>
<% end %>
<br>

<strong>Add a photo</strong>
<%= form_for @photo do |f| %>
  <table>
  <%= f.error_messages %>
  <tr>
    <td><%= f.label :image %></td>
    <td><%= f.file_field :image %></td>
  </tr>
  <tr>
    <td><%= f.hidden_field :organization_id, value: params[:id] %></td>
  </tr>
  <tr>
    <td><%= f.submit %></td>
  </tr>

  </table>
<% end %>

<% if current_user == @org.owner || current_user.site_admin? %>
__________________________________
<br>
<strong>User Permissions for Organization</strong>
<br>
<br>
<table>
  <tr>
    <th>User</th>
    <th>Permission</th>
  </tr>
  <% @org.roles.each do |role| %>
  <tr>
    <td><%= role.user.email %></td>
    <td><%= role.permission %></td>
    <% if role.user.other_org_owners?(@org) or role.permission != 'owner' %>
      <td><%= link_to 'Delete Role', role_path(role), :method => :delete %></td>
    <% end %>
  </tr>
  <% end %>
</table>
<br>
<%= link_to 'Add User to Organization', {:controller => "roles", :action => "new", :organization_id => @org.id }, :method => :get %>
<br>
__________________________________
<br>
<strong>Delete Organization</strong>
<br>
<br>
    <%= button_to 'Delete Organization Now', pre_destroy_organization_path(@org.id), :method => :get, :confirm => "Are you sure?"%>
<% end %>


