<br>
<br>
<h2><strong><%= @org.name %></strong></h2>
<% if @org.logo_file_name %>
  <%=  image_tag @org.logo.url(:square) %>
  <br>
  <br>
<% end %>
Description:
<%= @org.description %>
<br>
Website:
<%= @org.website %>
<br>
Phone:
<%= @org.phone_num %>
<br>

<% if current_user.site_admin? %>
  (owner: <%= @org.owner.name ? @org.owner.name : @org.owner.email %>)
<% end %>
<br>
<br>
<% if current_user == @org.owner || current_user.site_admin? %>
  <span>
    <%= button_to 'Edit Organization', edit_organization_path(@org.id), :method => :get%>
   </span>
<% end %>
________________________________________________________________________
<br>
<strong>Courses Offered</strong>
<br>
<br>
<% @org.courses.each do |course| %>
  <strong>Course Name:</strong>
  <%= link_to course.name, organization_course_path(@org.id, course) %>
  <br>
  Description:
  <%= course.description %>
  <br>
  <%= image_tag course.photos.first.image.url(:thumb) if course.photos.any?%>

<br>
<br>
<% end %>

<% if current_user == @org.owner || current_user.site_admin? %>
  <span>
    <%= button_to 'Add a course', new_organization_course_path(@org.id), :method => :get%>
   </span>
<% end %>
________________________________________________________________________
<br>
<strong> User Reviews </strong>
<br>
</br>
<% @org.reviews.each do |review|%>

  "<%= review.content %>"
  <br>
  rating: <%= "*" * review.rating %>
  <br>
  <% user = User.find(review.user_id) %>
  -<%= user.name ? user.name : user.email %>
  <br>
  ----------------------------
    <br>
    <br>
<% end %>
<strong>Add a review to the Organization</strong>
<br>
<br>
<%= render 'reviews/form' %>



<br>
________________________________________________________________________
<br>
<strong> Photos </strong>
<br>
<br>
<% @org.photos.each do |photo| %>
  <%= image_tag photo.image.url(:medium) %>
<% end %>
