<div class="container">
      <div class="main">
        <div class="company_content">
          <div class="title"><%= @organization.name %></div>
          <!-- only show next arrow if there is more than one photo -->
          <% if @organization.photos.count > 1 %>
            <img class='arrow' src="/assets/courses/arrow-next.png" height='100px'>
          <% end %>
          <div class="main_image_section">
            <% @organization.photos.each do |photo| %>
              <div class="slide">
                <%= image_tag photo.image.url %>
              </div>
            <% end %>
          </div>
          <div class="description_group">
            <!-- <h1>Company Info</h1> -->
            <div class="description">
              <%= @organization.description.html_safe %>
            </div>
          </div>
        </div>

        <div class="secondary_content">
        <% @organization.reviews.each do |review| %>
            <div class="review_group">
              <div class="reviewer">
                <a href="#">
                  <div class="image">
                    <%= image_tag review.user.profile_photo.url %>
                  </div>
                </a>
                <div class="name"><%= review.user.name %></div>
              </div>
              <div class='review'>
                <%= review.content %>
              </div>
              <div class="rating">
                <img src="/assets/courses/yelp_<%= review.rating.to_i %>_stars_transparent.png">
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <aside>
        <div class="courses_offered">
          <p>Courses Offered</p>
            <% @organization.courses.each do |course| %>

            <!-- Watch out. There is another class called 'course' on the homepage -->
              <div class="course">
                <a href="/organizations/<%= course.organization.id %>/courses/<%= course.id %>">
                  <div class="course_name"><%= course.name %></div>
                  <%= image_tag course.photos.first.image.url if course.photos.any? %>
                  <div class="course_overlay">
                    <div class="next_class">
                      Next Class
                    </div>
                    <div class="class_date">
                      <% if course.next_dates.any? %>
                        <%= "#{course.next_dates.first.start_date.strftime('%b %d')} " %>
                      <% else %>
                        Request a date
                      <% end %>
                    </div>
                  </div>
                </a>
              </div>
            <% end %>
        </div>

        <div class="instructors">
          <p>Instructors</p>
          <% @organization.instructors.each do |instructor| %>
            <div class="instructor">
              <a href="#">
                <div class="image">
                  <%= image_tag instructor.profile_photo.url %>
                </div>
              </a>
              <div class="name"><%= instructor.first_name %> <%= instructor.last_name_initial %></div>
              <hr>
            </div>
          <% end %>
        </div>
      </aside>
    </div>




<br>
<br>
<% if current_user %>
  _____________________________________________________________________
  <br>
  Admin Stuffs


  <% if current_user.site_admin? %>
    (owner: <%= @organization.owner.name ? @organization.owner.name : @organization.owner.email %>)
  <% end %>
  <br>
  <br>
  <% if current_user == @organization.owner || current_user.site_admin? %>
    <span>
      <%= button_to 'Edit Organization', edit_organization_path(@organization.id), :method => :get%>
     </span>
  <% end %>

  ______________________________________________
  <br>
  <strong>Courses Offered</strong>
  <br>
  <br>
  <% @organization.courses.each do |course| %>
    <strong>Course Name:</strong>
    <%= link_to course.name, organization_course_path(@organization.id, course) %>
  <br>
  <br>
  <% end %>

  <% if current_user == @organization.owner || current_user.site_admin? %>
    <span>
      <%= button_to 'Add a course', new_organization_course_path(@organization.id), :method => :get%>
     </span>
  <% end %>
<% end %>
______________________________________________
<br>
<strong>Add a review to the Organization</strong>
<br>
<br>
<%= render 'reviews/form' %>
