<%= form_for @review, :html => { :class => "form-horizontal"}  do |f| %>

  <%= f.error_messages %>
  <div class="control-group">
    <%= f.label :content, :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :content, :rows => 4, :placeholder => "These guys where awesome, no one died on this trip. Way to go, five stars! " %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :rating, :class => "control-label" %>
    <div class="controls">
      <%= f.select(:rating, [['Five Stars', 5],['Four Stars', 4],['Three Stars', 3],['Two Stars', 2],['One Star', 1]]) %>
    </div>
  </div>

<div class="control-group">
  <div class="controls">
    <%= f.submit %>
  </div>
</div>
<% end %>
