<div class="header_bar">
  <div class="logo">
    <%= link_to "Adventuring", root_path, :class => 'brand' %>
  </div>

  <div class="nav_bar">
    <ul>
      <% if @org %>
        <li> <%= link_to @org.name, organization_path(@org) %><li>
      <% end %>
      <% if user_signed_in? %>
        <li> <%= link_to 'log out', '/users/sign_out', :method => :delete %> </li>
        <li> <%= link_to 'post a class', '/organizations/your_orgs', :method => :get%> </li>
      <% else %>
        <li> <%= link_to('login', new_user_session_path) %> </li>
      <% end %>
      <li> <%= link_to('cities', '#') %> </li>
      <li> <%= link_to('categories', '#') %> </li>
      <% if user_signed_in? %>
        <li> <%= link_to('profile', profile_path(current_user)) %> </li>
      <% else %>
        <li> <%= link_to('sign up', new_user_registration_path) %> </li>
      <% end %>
    </ul>
  </div>
</div>
