<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Adventuring" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Piedra' %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Pathway+Gothic+One' %>

    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag 'href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css'  %>
    <%= csrf_meta_tags %>

  </head>



    <%= yield(:head) %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/header' %>
        </div>
      </nav>
    </header>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer>
            <%= render 'layouts/footer' %>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>
