<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Adventuring" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Piedra' %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Pathway+Gothic+One' %>
    <%= stylesheet_link_tag  'http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css' %>
    <%= analytics_init if Rails.env.production? %>


    <%= csrf_meta_tags %>

    <%= yield(:head) %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/messages' %>

    <%= yield %>

    <footer>
      <%= render 'layouts/footer' %>
    </footer>

    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "http://malsup.github.com/jquery.cycle.all.js" %>
    <%= javascript_include_tag "http://malsup.github.com/jquery.easing.1.3.js" %>
  </body>
</html>
